.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.input-container {
    margin: 10px 0;
}

#gameArea {
    margin-top: 20px;
    position: relative;
    min-height: 500px;
    display: flex; /* Enable Flexbox */
    flex-wrap: wrap; /* Allow buttons to wrap onto the next row */
    gap: 10px; /* Add spacing between buttons */
    align-items: center; /* Vertically align items in a row */
    justify-content: flex-start; /* Align items to the left */
}


.button {
    position: absolute;
    height: 5em;
    width: 10em;
    cursor: pointer;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

#buttonCount {
    width: 180px; 
}
